{% block head %}
    <title>Edit Review - GenderBender</title>
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% extends 'base.html' %}
{% block content %}
<a href="/products"><img src="/static/images/genderbender-logo.png" alt="" id="logo"></a>

    
    <form action="/products/{{ product['id'] }}/update_review" class="update-review-form" method = "POST">
        <h2>Edit Review for <span id="product-name">{{ product['product_name'] }}</span> </h2>
        <img src="{{ product['image_url'] }}" alt="">
        
        <textarea name = "review">{{ review }}</textarea>
    
        <button>Update review</button>

{% endblock %}