{% extends 'base.html' %}
{% block content %}
    <a href="/products"><img src="/Images/genderbender-logo.png" alt="" id="logo"></a>
    {% if current_user %}
        <h3>You're a GenderBender, {{ current_user['first_name'] }}</h3>

        <section class="controls">
            <form action="/sessions/delete" method="POST">
                <button>Log out</button>
            </form>
        </section>
    {% endif %}
    <h1><a href="/products">GenderBender</a></h1>
    <h1>Edit {{ product['product_name']}} by {{ product['brand'] }}</h1>
    <img src="{{ product['image_url'] }}" alt="">
    <form action="/products/ {{product['id']}}" method = "POST">
        <label for="">Product Name:</label>
        <input type="text" name="product_name" value="{{ product['product_name']}}">

        <label for="">Brand:</label>
        <input type="text" name="brand" value="{{ product['brand'] }}">
    
        <label for="">Image URL:</label>
        <input type="text" name="image_url" value="{{ product['image_url'] }}">
    
        <button>Update product</button>
    </form>

{% endblock %}