{% extends 'base.html' %}
{% block content %}

<h1><a href="/products">GenderBender</a></h1>

{% if current_user %}
    <h3>You're a GenderBender, {{ current_user['first_name'] }}</h3>

    <section class="controls">
        <form action="/sessions/delete" method="POST">
            <button>Log out</button>
        </form>
    </section>

{% else %}
    <a href="/users/new">Sign up</a>
    <a href="/sessions/new">Log in</a>
{% endif %}

<section class="products">
    {% for product in products: %}
    <section class="product">
        <a href="products/{{ product['id'] }}/reviews"><img src="{{  product['image_url']  }}" alt=""></a>

        <h2><a href="products/{{ product['id'] }}/reviews">{{ product['product_name'] }}</a></h2>
        <h3>{{ product['brand'] }}</h3>
        
            <section class="controls">
                {% if current_user %}
                    <!-- <form action="/products/{{ product['id'] }}/edit">
                        <button>Edit</button>
                    </form>
                    <form action="/products/{{ product['id'] }}/delete">
                        <button>Delete</button>
                    </form> -->
                    <a href="products/{{ product['id'] }}/reviews">Review</a>
                {% else %}
                <a href="products/{{ product['id'] }}/reviews">Read Reviews</a>
                {% endif %}
            </section>
        
        {% endfor %}
    </section>
    {% if current_user %}
        <p>Don't see the product you're trying to review? <a href="/products/suggest">Add Your Suggestion.</a>
    {% endif %}
    </p>
</section>

{% endblock %}