{% block head %}
    <title>Home - GenderBender</title>
{% endblock %}

{% extends 'base.html' %}
{% block content %}

<section class="homepage-content">
    <section class="nav">
        <section class="nav-left">
            <a href="/products"><img src="/static/images/genderbender-logo.png" alt="" id="logo"></a>
        </section>
        <section class="nav-right">
            {% if current_user %}
            <section class="in-session">
                <h3>You're a GenderBender, {{ current_user['first_name'] }}</h3>
            
                <form action="/sessions/delete" method="POST">
                        <button id="log-out-button">Log out</button>
                </form>
            </section>
                
            {% else %}
                <a href="/users/new" class="button" id="sign-up-button">Sign up</a>
                <a href="/sessions/new" class="button" id="log-in-button">Log in</a>
            {% endif %}
        </section>
    </section>
    
    <section class="products">
        
        {% for product in products: %}
            <section class="product">
                <a href="products/{{ product['id'] }}/reviews"><img src="{{  product['image_url']  }}" alt="" class="gallery-thumbnail"></a>
    
                <h2><a href="products/{{ product['id'] }}/reviews">{{ product['product_name'] }}</a></h2>
                <h3>{{ product['brand'] }}</h3>
                
                    <section class="controls">
                        {% if current_user %}
                            <!-- <form action="/products/{{ product['id'] }}/edit">
                                <button>Edit</button>
                            </form>
                            <form action="/products/{{ product['id'] }}/delete">
                                <button>Delete</button>
                            </form> -->
                            <a href="products/{{ product['id'] }}/reviews" class="button"id="review-button">Review</a>
                        {% else %}
                        <a href="products/{{ product['id'] }}/reviews" class="button" id="review-button">Read Reviews</a>
                        {% endif %}
                    </section>
            </section>    
        {% endfor %}
        
        <!-- {% if current_user %} -->
            <section class="add-suggest">
                <p>Don't see the product you're trying to review?</p><a href="/products/suggest" class="button" id="add-suggest-button">Add Your Suggestion</a>
            </section>
        <!-- {% endif %} -->
        
    </section>
    
</section>

{% endblock %}