{% extends 'base.html' %}
{% block content %} 
<h1><a href="/products">GenderBender</a></h1>
    {% if current_user %}
        <h3>You're a GenderBender, {{ current_user['first_name'] }}</h3>

        <section class="controls">
            <form action="/sessions/delete" method="POST">
                <button>Log out</button>
            </form>
        </section>
    {% endif %}

    <h1>Add a suggestion</h1>
    <form action="/products/suggest" method="POST">
        <label for="">Product Name:</label>
        <input type="text" name="product_name">

        <label for="">Brand:</label>
        <input type="text" name="brand">
    
        <label for="">Product URL:</label>
        <input type="text" name="product_url">
    
        <button>Send</button>
    </form>
{% endblock %}   