{% extends 'base.html' %}

{% block head %}
    <title>Suggest a Product - GenderBender</title>
    <link rel="stylesheet" href="/static/css/form.css">
{% endblock %}

{% block content %}

<a href="/products"><img src="/static/images/genderbender-logo.png" alt="" id="logo"></a>

    {% if current_user %}
        <h3>You're a GenderBender, {{ current_user['first_name'] }}</h3>

        <section class="controls">
            <form action="/sessions/delete" method="POST" >
                <button id="log-out-button">Log out</button>
            </form>
        </section>
    {% endif %}

    <h1>Add a suggestion</h1>
    
    <form action="/products/suggest" method="POST" class="suggest-form">
        <p>There are a lot of products out there we don't know about. Add your suggestion and we will update our database!</p>

        <label for="">Product Name:</label>
        <input type="text" name="product_name">

        <label for="">Brand:</label>
        <input type="text" name="brand">
    
        <label for="">Product URL:</label>
        <input type="text" name="product_url">
    
        <button>Add your suggestion</button>
    </form>
{% endblock %}   