body {
    margin: 2rem auto;
    align-content: center;
    max-width: 1200px;
    overflow-y: scroll;
}

.product-review {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

#product-image {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.write-review-form {
    display: flex;
    flex-direction: column;
}

.write-review-form > textarea{
    outline: none;
    border: 1px solid #0e2c54;
    padding: 0.5rem;
    margin: 0.5rem 0;
    min-height: 3rem;
    resize: vertical;
}

.write-review-form > button {
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    margin-top: 0.5rem;
    color: #0e2c54;
    background-color: #FFFFFF;
    padding: 0.5rem 0.75rem;
    box-shadow: none;
    border: 2px solid #0e2c54;
    border-radius: 1.5rem;
    cursor: pointer;
}

.write-review-form > button:hover {
    color: #FFFFFF;
    background-color: #0e2c54;
}

#reviews {
    max-height: 500px;
}

.review-edit-delete-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#edit-button {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid #0e2c54;
    border-radius: 1.5rem;
}

#edit-button:hover {
    font-weight: 600;
    color: #0cc0df;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid #0cc0df;
    border-radius: 1.5rem;
}

#delete-button {
    font-size: 1rem; 
    font-weight: 400;
    color: #0e2c54;
    background-color: #FFFFFF;
    box-shadow: none;
    border: 1px solid #ff6cc0;
}

#delete-button:hover {
    font-size: 1rem; 
    font-weight: 600;
    color: #ffffff;
    background-color: #ff6cc0;
    box-shadow: none;
    border: 1px solid #ff6cc0;
}